body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_bar {
  background: white !important;
  box-shadow: none !important;
}

.nav__wrap {
  display: flex;
  flex-direction: column;
}

.nav__file_icon {
  width: auto;
  height: 50px !important;
}

.nav__presentation_name {
  color: rgba(0, 0, 0, 0.87) !important;
  max-width: 200px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  border: 0 solid white !important;
  margin: 5px 0 5px 15px;
}

.nav__presentation_name:active {
  border: 1px solid mediumpurple !important;
  border-radius: 5px;
}

.nav__menu {
  flex-direction: row;
  cursor: pointer;
}

nav__menu:hover {
  outline: 1px solid blue;
}

.nav__menu_button {
  font-size: 17px;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}


.nav__menu_dropbox {
  padding: 5px 8px 0 15px;
  margin-right: 10px;
}

.dropdown-toggle:after {
  content: none !important;
}

.nav__menu_dropbox_file {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.87) !important;
}

.nav__menu_dropbox_insert {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.87) !important;
}

.nav__menu_dropbox_slide {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.87) !important;
}

.slide-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.slide-area > .workspace {
  border-radius: inherit;
}

.workspace {
  width: 1200px;
  height: 675px;
  margin: auto 0;
}

@media screen and (max-width: 1400px) {
  .workspace {
    width: calc(100vw - 220px);
    height: calc((100vw - 220px)*9/16);
    margin: auto 0;
  }
}

.main-block {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}
