body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.slide-area > .workspace {
  border-radius: inherit;
}

.workspace {
  width: 124vh;
  height: 70vh;
  margin: auto 0;
}

.main-block {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.sidebar {
  margin-top: 1rem;
  overflow-y: scroll;
}



