body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_bar {
    background: white !important;
    box-shadow: none !important;
}

.nav__file_icon {
    width: auto;
    height: 50px !important;
}

.nav__presentation_name {
    color: rgba(0, 0, 0, 0.87) !important;
    max-width: 200px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    border: 0 solid white !important;
    margin: 5px 0 5px 15px;
}

.nav__presentation_name:active {
    border: 1px solid mediumpurple !important;
    border-radius: 5px;
}

.nav__menu_dropbox {
    padding: 5px 8px 0 15px;
    margin-right: 10px;
}

.dropdown-toggle:after {
    content: none !important;
}

.nav__menu_dropbox_file {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87) !important;
}

.nav__menu_dropbox_insert {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87) !important;
}

.nav__menu_dropbox_slide {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87) !important;
}

