.nav {
    background: white !important;
    box-shadow: none !important;
}

.nav__wrap {
    display: flex;
    flex-direction: column;
}

.nav__file_icon {
    width: auto;
    height: 50px !important;
}

.nav__presentation_name {
    color: rgba(0, 0, 0, 0.87) !important;
    max-width: 200px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    border: 0 solid white !important;
    margin: 5px 0 5px 15px;
}

.nav__presentation_name:active {
    border: 1px solid mediumpurple !important;
    border-radius: 5px;
}

.nav__menu {
    flex-direction: row;
    cursor: pointer;
}

nav__menu:hover {
    outline: 1px solid blue;
}

.nav__menu_button {
    font-size: 17px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}


.nav__menu_dropbox {
    padding: 5px 8px 0 15px;
    margin-right: 10px;
}

.dropdown-toggle:after {
    content: none !important;
}

.dropbox__file {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87) !important;
}

.dropbox__open_data {
    margin-bottom: 0 !important;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropbox__open_data:hover {
    color: #212529;
    background-color: #e2e6ea;
    border: 0;
    box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
}

.dropbox__open_data:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropbox__open_button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.dropbox__insert {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87) !important;
}

.dropbox__slide {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87) !important;
}
