.slide-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.slide-area > .workspace {
    border-radius: inherit;
}

.workspace {
    overflow: hidden;
    width: 60vw;
    height: 33.75vw;
    margin: auto 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1400px) {
    .workspace {
        width: calc(95vw - 230px);
        height: 40.5vw;
    }
}

.element_choosed {
    stroke: #007bff;
    cursor: move;
}

.elem-path {
    display: none;
}

.elem-path.elem-path_active {
    display: block;
}

svg {
    overflow: visible;
}

.points_container {
    visibility: hidden;
}

.points_container.points_container_active {
    visibility: visible;
}