.slide-area {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.slide-area > .workspace {
    border-radius: inherit;
}

.workspace {
    width: 60vw;
    height: 33.75vw;
    margin: auto 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1400px) {
    .workspace {
        width: calc(95vw - 230px);
        height: 40.5vw;
    }
}

.element_choosed {
    cursor: move;
}

.elem-path {
    display: none;
}

.elem-path.elem-path_active {
    display: block;
}

svg {
    overflow: visible;
}

.points_container {
    visibility: hidden;
}

.points_container.points_container_active {
    visibility: visible;
}

svg p::before {
    content: '';
    cursor: text;
}

svg p:empty:not(.element_choosed)::before {
    content: attr(data-placeholder);
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000, 0 -1px 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000;
}
